<h1>Please enter a number to get it in number:</h1>
<form action='/numbers_to_words' method='get'>
  <div class="form-group">
    <label for="number">A name</label>
    <input id="number" name="number" class="form-control" type="number">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
